body {
  min-width: 320px;
  background-color: $white;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: normal;
  color: $text-main-color;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth; // Look ma no JS!

  &.fixed {
    overflow: hidden;
  }
}

html,
body {
  @supports (-webkit-overflow-scrolling: touch) {
    cursor: pointer;
  }
}

button,
a {
  cursor: pointer;
  outline: none;
}

h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;

  @media (max-width: $tablet-max) {
    font-size: 24px;
    line-height: 30px;
  }

  &.small {
    font-size: 32px;
    line-height: 28px;
    font-weight: 500;

    @media (max-width: $tablet-max) {
      font-size: 24px;
    }
  }
}

h1 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: $text-main-color;

  @media (max-width: $tablet-max) {
    font-size: 24px;
    line-height: 30px;
  }
}

p:not([class]) {
  margin: 16px 0;
}

.content-dynamic-container {
  h1,h2,h4,h5,h6 {
    margin: 16px 0;
    font-weight: 500;
  }

  h1 {
    font-size: 32px;
    line-height: 36px;
  }

  h2,h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4,h5,h6 {
    font-size: 18px;
    line-height: 20px;
  }

  ul, ol {
    margin: 16px 0;

    li {
      margin: 4px 0;
    }
  }

  ul {
    li {
      display: flex;
      align-items: flex-start;

      &::before {
        width: 8px;
        height: 8px;
        flex-shrink: 0;
        margin: 0 20px 0 0;
        content: '';
        border-radius: 100%;
        background-color: $red;
        transform: translateY(3px);
      }
    }
  }
}

.fixed-button {
  position: fixed;
  right: 120px;
  bottom: 54px;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: 0.3s ease-in-out;
  transition-property: opacity, visibility, transform;

  @media (max-width: $tablet-max) {
    right: 24px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background-color: $red;
    border: none;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 4px 4px 19px 0 rgba(0, 0, 0, 0.2);
    }

    svg {
      width: 21px;
      height: 25px;
      fill: $white;
    }
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}