<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                <a class="footer__logo-link">
                    <img src="img/official/woof_white_icon.svg" alt="">
                </a>
            </div>
            <div class="footer__navs">
                <ul class="footer__navs-list">
                    <li class="footer__navs-item">
                        <a href="#">
                            Миссия бренда
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Подарочный сертификат
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Доставка и оплата
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Оферта
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                </ul>
                <ul class="footer__navs-list footer__navs-list">
                    <li class="footer__navs-item">
                        <a href="#">
                            Каталог
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Новинки
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Бренды
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Кошкам
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Собакам
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Ветаптекам
                        </a>
                    </li>
                    <li class="footer__navs-item">
                        <a href="#">
                            Наш мерч
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__socials">
                <p class="footer__socials-title">Мы в соц сетях:</p>
                <ul class="social">
                    <li>
                        <a class="social__link" href="#">
                            <svg>
                                <use xlink:href="#ic_inst"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social__link" href="#">
                            <svg>
                                <use xlink:href="#ic_fc"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="social__link" href="#">
                            <svg>
                                <use xlink:href="#ic_vk"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__telephone-wrapper">
                <a href="mailto:88001234567" class="footer__telephone-link">
                    8 800 123-45-67
                </a>
                <button type="button" class="footer__telephone-tell-me">
                    Перезвоните мне
                </button>
            </div>
            <div class="footer__subscribe subscribe">
                <div class="subscribe__wrapper">
                    <p class="subscribe__text">
                        Постоянная скидка 5%
                        на все покупки за подписку
                        на новости
                    </p>
                    <form action="">
                        <div class="subscribe__field">
                            <div class="form-field">
                                <label class="form-field__inner">
                                    <input placeholder="Ваш email" type="text">
                                </label>
                            </div>
                        </div>
                        <button class="subscribe__submit button" type="submit">
                            Подписаться
                        </button>
                    </form>
                </div>
            </div>
            <div class="footer__copyright">
                <p>© Woof-store 2020-2021. Все права защищены</p>
                <p>SPNK.graphics — разработка сайта</p>
            </div>
        </div>
    </div>
</footer>
<div/>
<!-- //page-wrapper -->

<script src="js/_plugins-all.min.js"></script>
<script src="js/scripts.js"></script>

<body/>
</html>