<body>
    <!-- page-wrapper -->
    <div class="page-wrapper">
        <header class="header js-header">
            <div class="header__wrapper">
                <div class="header__top">
                    <div class="container">
                        <div class="header__top-links-wrapper">
                            <ul class="header__top-links">
                                <li class="header__top-link">
                                    <a>
                                        Доставка и оплата
                                    </a>
                                </li>
                                <li class="header__top-link">
                                    <a>
                                        Оферта
                                    </a>
                                </li>
                                <li class="header__top-link">
                                    <a>
                                        Миссия бренда
                                    </a>
                                </li>
                                <li class="header__top-link">
                                    <a>
                                        Подарочный сертификат
                                    </a>
                                </li>
                                <li class="header__top-link">
                                    <a>
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__socials">
                            <ul class="social">
                                <li>
                                    <a class="social__link" href="#">
                                        <svg></svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="social__link" href="#">
                                        <svg></svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="social__link" href="#">
                                        <svg></svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="header__profile">
                            <button class="header__profile-open js-open-auth-popup" type="button">
                                <svg></svg>
                                Вход в личный кабинет
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header__fixable">
                    <div class="header__middle container">
                        <a class="header__logo">
                        </a>
                        <div class="header__search">
                            <div class="form-field">
                                <label class="form-field__inner">
                                    <input placeholder="Поиск товаров" type="text">
                                    <svg class="header__search-icon"></svg>
                                </label>
                            </div>
                        </div>
                        <div class="header__telephone">
                            <a href="tel:88001234567" class="header__telephone-link">
                                8 800 123-45-67
                            </a>
                            <button class="header__call js-open-call-popup" type="button">
                                Перезвони мне
                            </button>
                        </div>
                        <div class="header__favorite">
                            <a class="header__favorite-link">
                                <svg></svg>
                                Избранное
                            </a>
                        </div>
                        <div class="header__cart header__cart--has-items">
                            <a class="header__cart-link">
                                <svg></svg>
                                Корзина
                            </a>
                        </div>
                    </div>
                    <div class="header__bottom">
                        <div class="container">
                            <div class="header__catalog-open-wrapper">
                                <button class="js-catalog-open header__catalog-open" type="button">
                                <span class="header__catalog-toggle">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                                    <span class="header__catalog-text">Каталог</span>
                                </button>
                            </div>
                            <nav class="header__nav">
                                <ul class="header__nav-list">
                                    <li class="header__nav-item">
                                        <a href="#">Новинки</a>
                                    </li>
                                    <li class="header__nav-item">
                                        <a href="#">Бренды</a>
                                    </li>
                                    <li class="header__nav-item">
                                        <a href="#">Кошкам</a>
                                    </li>
                                    <li class="header__nav-item">
                                        <a href="#">Собакам</a>
                                    </li>
                                    <li class="header__nav-item">
                                        <a href="#">Ветаптекам</a>
                                    </li>
                                    <li class="header__nav-item">
                                        <a href="#">Наш мерч</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="header__catalog-popup">
                                <div class="container">
                                    <div class="header__catalog-grid">
                                        <div class="header__catalog-brands">
                                            <div class="header__catalog-list-wrapper">
                                                <p class="header__catalog-title">
                                                    <a href="#">
                                                        Название бренда
                                                    </a>
                                                </p>
                                                <ul class="header__catalog-list">
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="header__catalog-subsection">
                                            <div class="header__catalog-list-wrapper">
                                                <p class="header__catalog-title">
                                                    <a href="#">Название бренда</a>
                                                </p>
                                                <ul class="header__catalog-list">
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="header__catalog-list-wrapper">
                                                <p class="header__catalog-title">
                                                    <a href="#">Название бренда</a>
                                                </p>
                                                <ul class="header__catalog-list">
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="header__catalog-list-wrapper">
                                                <p class="header__catalog-title">
                                                    <a href="#">Название бренда</a>
                                                </p>
                                                <ul class="header__catalog-list">
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="header__catalog-list-wrapper">
                                                <p class="header__catalog-title">
                                                    <a href="#">Название бренда</a>
                                                </p>
                                                <ul class="header__catalog-list">
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                    <li class="header__catalog-item">
                                                        <a href="#">
                                                            Название бренда
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="header__catalog-additional">
                                            <ul class="header__catalog-links">
                                                <li class="header__catalog-link">
                                                    <a href="#">
                                                        Новински
                                                    </a>
                                                </li>
                                                <li class="header__catalog-link">
                                                    <a href="#">
                                                        Скидки и акции
                                                    </a>
                                                </li>
                                                <li class="header__catalog-link">
                                                    <a href="#">
                                                        Нужно приютам
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>