<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>
<li class="catalog-page__product">
    @@include('product-item.html')
</li>