<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>
<li class="search-page__product">
    @@include('product-item.html')
</li>