<section class="subscription">
    <div class="subscription__decor">
        <svg>
            <use xlink:href="#ic_big-woof"></use>
        </svg>
    </div>
    <div class="container container--content">
        <div class="subscription__wrapper">
            <h3 class="small">Подпишитесь на нашу рассылку
                и получите постоянную скидку 5%
                на все покупки</h3>
            <div class="subscription__form-wrapper">
                <form action="">
                    <div class="subscription__form-inner">
                        <div class="subscription__field form-field">
                            <div class="form-field__inner">
                                <input placeholder="Ваш email" type="text">
                            </div>
                        </div>
                        <button type="submit" class="button subscription__submit">
                            Подписаться
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>