.mission-page {
  &__helps {
    margin-top: 116px;

    @media (max-width: $tablet-max) {
      margin: 32px 0 0;
    }

    @media (max-width: $mobile-max) {
      margin: 48px 0 0;
    }
  }

  &__goals {
    margin-top: 140px;

    @media (max-width: $tablet-max) {
      margin: 40px 0 0;
    }

    @media (max-width: $mobile-max) {
      margin: 48px 0 0;
    }
  }

  &__activity {
    margin: 156px 0 0;

    @media (max-width: $tablet-max) {
      margin: 52px 0 0;
    }

    @media (max-width: $mobile-max) {
      margin: 48px 0 0;
    }
  }
}
