.profile-pets {

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -12px;

    @media (max-width: $mobile-max) {
      margin: -10px -12px;
    }
  }

  &__item {
    margin: 8px 12px;

    @media (max-width: $mobile-max) {
      margin: 10px 12px;
    }
  }
}