<div class="@@class product-slider js-product-slider">
    <div class="swiper js-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status product-item__status--delivery">
                                                Доставка доступна на завтра
                                            </span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="product-item">
                    <div class="product-item__wrapper">
                        <div class="product-item__picture">
                            <img src="img/official/product-test.png" alt="">
                        </div>
                        <div class="product-item__bubble">
                            <span>Новинка</span>
                        </div>
                        <button class="product-item__favorite active" type="button">
                            <svg class="favorite-icon-within-fill">
                                <use xlink:href="#ic_favorite"></use>
                            </svg>
                            <svg class="favorite-icon-with-fill">
                                <use xlink:href="#ic_favorite-with-fill"></use>
                            </svg>
                        </button>
                        <p class="product-item__desc">
                            Grandin Adult Small
                            корм для взрослых собак
                            мелких пород, с ягненком
                        </p>
                        <div class="product-item__inner">
                            <ul class="product-item__size">
                                <li class="product-item__size-item active">
                                    <button class="product-item__size-toggle" type="button">
                                        400г
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        1.5кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        3кг
                                    </button>
                                </li>
                                <li class="product-item__size-item">
                                    <button class="product-item__size-toggle" type="button">
                                        8кг
                                    </button>
                                </li>
                            </ul>
                            <b class="product-item__price">390р</b>
                            <span class="product-item__status">В наличии</span>
                        </div>
                        <div class="product-item__bottom">
                            <div class="product-item__amount amount-toggle">
                                <button class="amount-toggle__minus disabled" type="button"></button>
                                <span class="amount-toggle__result">1</span>
                                <button class="amount-toggle__plus" type="button"></button>
                            </div>
                            <button class="product-item__add" type="button" aria-label="Добавить в корзину">
                                <svg>
                                    <use xlink:href="#ic_cart"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination js-product-slider-pagination">

        </div>
    </div>
    <button class="product-slider__button prev js-product-slider-prev" type="button">
    </button>
    <button
            class="product-slider__button next js-product-slider-next"
            type="button">

    </button>
</div>